In [ ]:
from langchain.llms import GooglePalm
api_key="AIzaSyDGOzZYEfgkPeI3_3L1L_BWEI8HMkw9sn4"
llm = GooglePalm(google_api_key=api_key,temperature=0.2)
poem=llm("write a poem on my love for dosa")
print(poem)

In [ ]:
from langchain.utilities import SQLDatabase

db_user = "root"
db_password = "root"
db_host = "localhost:3307"
db_name = "atliq_tshirts"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

print(db.table_info)

In [7]:
from langchain_experimental.sql import SQLDatabaseChain

db_chain = SQLDatabaseChain.from_llm(llm,db,verbose=True)
db_chain("How many t-shirts do we have left for nike in extra large size and white color?")

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for nike in extra large size and white color?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XL'
SQLResult: [(22,)]
Answer:22
> Finished chain.

{'query': 'How many t-shirts do we have left for nike in extra large size and white color?',
 'result': '22'}

In [8]:
db_chain("give me a list of all small size tshirts")

> Entering new SQLDatabaseChain chain...
give me a list of all small size tshirts
SQLQuery:SELECT t_shirt_id, brand, color, size, price, stock_quantity FROM t_shirts WHERE size = 'S'
SQLResult: [(3, 'Van Huesen', 'Red', 'S', 29, 44), (7, 'Van Huesen', 'Black', 'S', 22, 47), (10, 'Nike', 'Red', 'S', 16, 97), (18, 'Levi', 'White', 'S', 18, 100), (36, 'Adidas', 'White', 'S', 39, 59), (38, 'Adidas', 'Black', 'S', 20, 72), (39, 'Nike', 'Blue', 'S', 45, 37), (57, 'Levi', 'Blue', 'S', 39, 90), (76, 'Van Huesen', 'White', 'S', 18, 88)]
Answer:3, Van Huesen, Red, S, 29, 44
> Finished chain.

{'query': 'give me a list of all small size tshirts',
 'result': '3, Van Huesen, Red, S, 29, 44'}

In [11]:
db_chain("give me the total value of stock for brand levis")

> Entering new SQLDatabaseChain chain...
give me the total value of stock for brand levis
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLResult: [(Decimal('20500'),)]
Answer:20500
> Finished chain.

{'query': 'give me the total value of stock for brand levis',
 'result': '20500'}

In [12]:
db_chain("How much is the price of the inventory for all small size t-shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT SUM(price) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('246'),)]
Answer:246
> Finished chain.

{'query': 'How much is the price of the inventory for all small size t-shirts?',
 'result': '246'}

In [14]:
db_chain("what is the maximum discount on brands wise")

> Entering new SQLDatabaseChain chain...
what is the maximum discount on brands wise
SQLQuery:SELECT max(pct_discount) AS max_discount FROM discounts GROUP BY t_shirt_id ORDER BY max_discount DESC LIMIT 1
SQLResult: [(Decimal('45.00'),)]
Answer:45.00
> Finished chain.

{'query': 'what is the maximum discount on brands wise', 'result': '45.00'}

In [15]:
db_chain("SELECT max(pct_discount) AS max_discount FROM discounts GROUP BY t_shirt_id ORDER BY max_discount DESC LIMIT 1")

> Entering new SQLDatabaseChain chain...
SELECT max(pct_discount) AS max_discount FROM discounts GROUP BY t_shirt_id ORDER BY max_discount DESC LIMIT 1
SQLQuery:SELECT max(pct_discount) AS max_discount FROM discounts GROUP BY t_shirt_id ORDER BY max_discount DESC LIMIT 1
SQLResult: [(Decimal('45.00'),)]
Answer:45.00
> Finished chain.

{'query': 'SELECT max(pct_discount) AS max_discount FROM discounts GROUP BY t_shirt_id ORDER BY max_discount DESC LIMIT 1',
 'result': '45.00'}

In [21]:
db_chain("give a list of all the brand names and discount percent")

> Entering new SQLDatabaseChain chain...
give a list of all the brand names and discount percent
SQLQuery:SELECT brand, pct_discount FROM discounts JOIN t_shirts ON discounts.t_shirt_id = t_shirts.t_shirt_id
SQLResult: [('Van Huesen', Decimal('10.00')), ('Van Huesen', Decimal('15.00')), ('Van Huesen', Decimal('20.00')), ('Levi', Decimal('5.00')), ('Nike', Decimal('25.00')), ('Nike', Decimal('10.00')), ('Nike', Decimal('10.00')), ('Van Huesen', Decimal('30.00')), ('Nike', Decimal('45.00'))]
Answer:[('Van Huesen', Decimal('10.00')), ('Van Huesen', Decimal('15.00')), ('Van Huesen', Decimal('20.00')), ('Levi', Decimal('5.00')), ('Nike', Decimal('25.00')), ('Nike', Decimal('10.00')), ('Nike', Decimal('10.00')), ('Van Huesen', Decimal('30.00')), ('Nike', Decimal('45.00'))]
> Finished chain.

{'query': 'give a list of all the brand names and discount percent',
 'result': "[('Van Huesen', Decimal('10.00')), ('Van Huesen', Decimal('15.00')), ('Van Huesen', Decimal('20.00')), ('Levi', Decimal('5.00')), ('Nike', Decimal('25.00')), ('Nike', Decimal('10.00')), ('Nike', Decimal('10.00')), ('Van Huesen', Decimal('30.00')), ('Nike', Decimal('45.00'))]"}

In [22]:
db_chain("give a list of all discount percent on different size in brands")

> Entering new SQLDatabaseChain chain...
give a list of all discount percent on different size in brands
SQLQuery:SELECT d.pct_discount, t.size, t.brand FROM discounts d JOIN t_shirts t ON d.t_shirt_id = t.t_shirt_id
SQLResult: [(Decimal('10.00'), 'XS', 'Van Huesen'), (Decimal('15.00'), 'L', 'Van Huesen'), (Decimal('20.00'), 'S', 'Van Huesen'), (Decimal('5.00'), 'XL', 'Levi'), (Decimal('25.00'), 'M', 'Nike'), (Decimal('10.00'), 'M', 'Nike'), (Decimal('10.00'), 'M', 'Nike'), (Decimal('30.00'), 'S', 'Van Huesen'), (Decimal('45.00'), 'S', 'Nike')]
Answer:[(10.00, 'XS', 'Van Huesen'), (15.00, 'L', 'Van Huesen'), (20.00, 'S', 'Van Huesen'), (5.00, 'XL', 'Levi'), (25.00, 'M', 'Nike'), (10.00, 'M', 'Nike'), (10.00, 'M', 'Nike'), (30.00, 'S', 'Van Huesen'), (45.00, 'S', 'Nike')]
> Finished chain.

{'query': 'give a list of all discount percent on different size in brands',
 'result': "[(10.00, 'XS', 'Van Huesen'), (15.00, 'L', 'Van Huesen'), (20.00, 'S', 'Van Huesen'), (5.00, 'XL', 'Levi'), (25.00, 'M', 'Nike'), (10.00, 'M', 'Nike'), (10.00, 'M', 'Nike'), (30.00, 'S', 'Van Huesen'), (45.00, 'S', 'Nike')]"}

In [23]:
qns1 = db_chain("How many t-shirts do we have left for levis in extra small size and white color?")

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for levis in extra small size and white color?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Levi' AND color = 'White' AND size = 'XS'
SQLResult: [(41,)]
Answer:41
> Finished chain.

In [24]:
qns2 = db_chain.run("SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLQuery:SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('16162'),)]
Answer:16162
> Finished chain.

In [32]:
sql_code = """
select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """

qns3 = db_chain.run(sql_code)

> Entering new SQLDatabaseChain chain...

select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id

SQLQuery:select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('20384.100000'),)]
Answer:20384.1
> Finished chain.

In [27]:
qns4 = db_chain.run("SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLResult: [(Decimal('20500'),)]
Answer:20500
> Finished chain.

In [28]:
qns5 = db_chain.run("SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'")

> Entering new SQLDatabaseChain chain...
SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(Decimal('208'),)]
Answer:208
> Finished chain.

In [33]:
few_shots = [
    {'Question' : "How many t-shirts do we have left for Nike in XS size and white color?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
     'SQLResult': "Result of the SQL query",
     'Answer' : ''.join(str(qns1))},
    {'Question': "How much is the total price of the inventory for all S-size t-shirts?",
     'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
     'SQLResult': "Result of the SQL query",
     'Answer': ''.join(str(qns2))},
    {'Question': "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """,
     'SQLResult': "Result of the SQL query",
     'Answer': ''.join(str(qns3))} ,
     {'Question' : "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : ''.join(str(qns4))},
    {'Question': "How many white color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : ''.join(str(qns5))
    }
]

In [1]:
from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.embeddings import HuggingFaceEmbeddings
from langchain.vectorstores import Chroma


embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

In [35]:
to_vectorize=[" ".join(example.values()) for example in few_shots]

In [36]:
to_vectorize

["How many t-shirts do we have left for Nike in XS size and white color? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS' Result of the SQL query {'query': 'How many t-shirts do we have left for levis in extra small size and white color?', 'result': '41'}",
 "How much is the total price of the inventory for all S-size t-shirts? SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S' Result of the SQL query 16162",
 "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)? SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from\n(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'\ngroup by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id\n  Result of the SQL query 20384.1",
 "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount? SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi' Result of the SQL query 20500",
 "How many white color Levi's shirt I have? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White' Result of the SQL query 208"]

In [37]:
vectorstore=Chroma.from_texts(to_vectorize,embeddings,metadatas=few_shots)

In [38]:
example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2,
)

example_selector.select_examples({"Question": "How many Adidas T shirts I have left in my store?"})

[{'Answer': "{'query': 'How many t-shirts do we have left for levis in extra small size and white color?', 'result': '41'}",
  'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '20500',
  'Question': 'If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?',
  'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
  'SQLResult': 'Result of the SQL query'}]

In [39]:
from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt

print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

In [40]:
print(_mysql_prompt)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

In [41]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [43]:
few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=_mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)

In [44]:
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)

In [45]:
new_chain("How much is the price of the inventory for all small size t-shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('16162'),)]
Answer:16162
> Finished chain.

{'query': 'How much is the price of the inventory for all small size t-shirts?',
 'result': '16162'}

In [46]:
new_chain("If we have to sell all the Nike’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?")

> Entering new SQLDatabaseChain chain...
If we have to sell all the Nike’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?
SQLQuery:SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Nike'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('25561.850000'),)]
Answer:25561.85
> Finished chain.

{'query': 'If we have to sell all the Nike’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?',
 'result': '25561.85'}

In [47]:
new_chain("If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?")

> Entering new SQLDatabaseChain chain...
If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?
SQLQuery:SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Van Huesen'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('26394.600000'),)]
Answer:26394.6
> Finished chain.

{'query': 'If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?',
 'result': '26394.6'}

In [48]:
new_chain.run('How much revenue  our store will generate by selling all Van Heuson TShirts without discount?')

> Entering new SQLDatabaseChain chain...
How much revenue  our store will generate by selling all Van Heuson TShirts without discount?
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Van Huesen'
SQLResult: [(Decimal('27566'),)]
Answer:27566
> Finished chain.

'27566'